<script>
  import { arabicToRoman } from "@/services/converter.service";
  let decimal;
  let result = "";
  let loading = false;
  let hasError = false;
  async function convertClick() {
    try {
      loading = true;
      result = (await arabicToRoman(decimal)).data;
      hasError = false;
    } catch (error) {
      console.error(error);
      hasError = true;
      result = error.response.data.message;
    } finally {
      loading = false;
    }
  }
</script>

<div class="content">
  <h1>arabic to roman converter</h1>
  <div>
    <input class="{hasError ? "error-input": ""}" type="text" bind:value={decimal} placeholder="decimal" />
  </div>
  <div>
    <button on:click={convertClick}>convert</button>
  </div>
  {#if loading}
    loading...
  {:else if result !== ""}
    <div class="{hasError ? "error-result": ""}">{result}</div>
  {/if}
</div>

<style>
  .content {
    text-align: center;
  }
  .error-input {
    border-color: red;
  }
  .error-result {
    color: red;
  }
</style>